@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');
:root{
    --primary-color: #e0e0e0 ;
    --secondary-color: #20c997 ;
    --gray: #4a4a4d ;
    --bg-primary: #15151d ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Changa", sans-serif;
}
h1,h2{
    font-family: sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.text-primary{
    color: var(--secondary-color);
}
header{
    background-color: var(--bg-primary);
    height: 100vh;
}
header .navbar{
    background-color: rgb(15, 12, 12);
    border-bottom: 2px solid var(--secondary-color);
    position: fixed;
    width: 100%;

}
header .navbar nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}
header .navbar nav ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}
header .navbar nav ul a{
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
}
.home #logo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}
header .header-content .content-text{
    margin-bottom: 5rem;
    
}
header .header-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    padding: 5rem 2rem 0;
    max-width: 1100px;
    margin: auto;
    height: 100%;
}
header .header-content img{
    max-width: 450px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 2px var(--secondary-color);
}
.home .header-content p{
    direction: rtl;
}
.home .header-content p span{
    font-weight: 700;
    font-size: 40px;
    margin-left: 100px;
}
.home .header-content h1{
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 3px 3px 2px rgba(8, 184, 154, 0.2);
    direction: rtl;
    white-space: nowrap;
}
.home .header-content .title{
    font-size: 30px;
    color: var(--primary-color);
    margin: 10px 50px;
    font-weight: 900;
}
.home .header-content .social{
    margin: 1rem 2rem;
    direction:rtl;
}
.home .header-content .social a i{
    font-size: 20px;
    padding: 10px;
    background-color: var(--gray);
    color: #fff;
    border-radius: 50%;
    margin:10px;
    transition: all 0.5s ease;
}
.home .header-content .social a i:hover{
    transform: scale(0.85);
    box-shadow: 0px 0px 20px 2px var(--secondary-color);
}
.btn-primary{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 200px;
    transition: all 0.5s ease;
}
.btn-primary:hover{
    background-color: #15a076;
    box-shadow: 0px 0px 20px 2px var(--secondary-color);
}
#about{
    padding: 6rem 0;
    background-color: rgb(8, 10, 8);
}
#about h2{
    text-align: center;
    font-size: 38px;
    color: var(--secondary-color);
    font-weight: 600;
    letter-spacing: 1px;
}
#about hr{
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}
#about .about-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}
#about .about-content .col-1{
    direction: rtl;
}
#about .about-content .col-1 h3{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-left: 100px;
}
#about .about-content .col-1 p{
    color: white;
    font-size: 18px;
    margin: 10px;
}
#about .about-content .col-2 p{
    color: var(--primary-color);
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}
@media(max-width: 1024px){
    .home .navbar nav {
        display: block;
        text-align: center;
    }
    .home .navbar nav ul {
        margin-top: 20px;
    }
    .home .header-content{
        grid-template-columns: 1fr;
    }
    .home .header-content .content-text{
        margin-bottom: 0;
        margin: 0 auto;
        margin-top: 0.25rem;
    }
    header .header-content img{
        max-width: 350px;
        margin:auto;
        margin-top: 8rem;
    }
    .home .header-content h1{
        font-size: 50px;
        white-space: nowrap;
        margin: 0 4%;
    }
    header{
        height: 1000px;
    }
    #about .about-content {
        grid-template-columns: 1fr;
        row-gap: 3rem ;
    }
    #about .about-content .col-2 p{
        display: flex;
        justify-content: center;
    }
    .home .header-content p span{
        margin: 0  25%;
    }
    .btn-primary{
        margin: 0 35%;
    }
}
@media (max-width: 920px){
    .home .header-content .content-text{
        margin-top: -1rem;
    }
    header{
        height: 1000px;
    }
    .home .header-content p span{
        margin: 0 25%;
    }
}
@media (max-width: 768px){
    .home .navbar nav {
        display: block;
        text-align: center;
    }
    .home .navbar nav ul {
        margin-top: 20px;
    }
    .home .header-content{
        grid-template-columns: 1fr;
    }
    .home .header-content .content-text{
        margin-bottom: 0;
        margin: 0 auto;
    }
    header .header-content img{
        max-width: 350px;
        margin: auto;
        margin-top: 8rem;
    }
    .home .header-content h1{
        font-size: 50px;
    }
    header{
        height: 1000px;
    }
    #about .about-content {
        grid-template-columns: 1fr;
        row-gap: 3rem ;
    }
    #about .about-content .col-2 p{
        display: flex;
        justify-content: center;
    }
    .home .header-content p span{
        margin: 0  25%;
    }

}
@media(max-width : 528px){
    .home .header-content h1{
        font-size: 38px;
    }
    .home .header-content .title{
        font-size: 20px;
    }
    .home .header-content p span{
        font-size: 30px;
        margin: 0 auto;
    }
    .home .header-content .content-text{
        margin-top: -12rem;
        direction: rtl;
        text-align: center;
    }
    header{
        height: 1000px;
    }
    .btn-primary{
        margin: 0 auto;
    }
    #about .about-content .col-1 h3{
        font-size: 25px;
        direction: rtl;
    }
    #about .about-content .col-1 p{
        direction: rtl;
    }
}
@media(max-width : 375px){
    header .header-content img{
        max-width: 250px;
    }
    header{
        height: 1000px;
    }
    .home .header-content .content-text{
        margin-top: -15.5rem;
    }
}
@media(max-width : 580px){
    header{
        height: 1000px;
    }
}